---
layout: hero
---

<div class="home2_wrap1">
	<div class="container">
		<div class="col-md-8">
			<!-- <img src="demo/6.jpg" class="img-responsive" alt=""> -->
			<h4>At A Glance</h4>
			<p>We are glad you are with us today! Visitors are welcome and asked to sign the Guest Register and Welcome Book in the Narthex through the main entrance.</p>
			<p><span class="strong">Worship Services:</span> Every Sunday Morning at 8:30 AM and 11:00 AM <br></p>
			<p><span class="strong">Sunday School:</span> Children, youth and adult Bible classes every Sunday at 9:45 AM</p>
			<p><span class="strong">Located At:</span> 5500 Ox Road, Fairfax Station, VA 22039</p>
			<p>Contemporary Worship is the first and third Sundays of each month from October through June at 11:00 AM</p>
			<p class="text-center"><a href="">What We Believe</a></p>
		</div>
		<div class="col-md-8">
			<!-- <img src="demo/7.jpg" class="img-responsive" alt=""> -->
			<h4>Whats New &amp; Announcements</h4>
			{% for announcement in site.data.announcements %}
			<p class="col-md-2 text-right">{{ announcement.date }}</p><p class="col-md-13">{{ announcement.message }}</p>
			{% endfor %}
			<!-- <p class="text-right"><a href="">More Newsletters ></a></p> -->
		</div>
	</div>
</div>


<!-- Sermons Wrap -->
<div class="home-wrap">
	<div class="container">
		<div class="col-md-8 music-wrap">
			<div class="row">
				<div id="sermons-slider" class="owl-carousel">
				{% for sermon in site.posts limit:1 %}
					<div class="item">
						<div class="col-md-8">
							<img class="img-responsive" src="images/sermon-preview.jpg" alt=""/>
						</div>
						<div class="col-md-8">
							<h4>Latest Sermon</h4>
							<div class="music-info">
								<h5>{{ sermon.title }}</h5>
								<p>{{ sermon.speaker }} / {{ sermon.date | date: "%B %-d, %Y" }}</p>
							</div>
							<ul class="m-ico">
								<!-- <li><a href="#" class="m-ico1"></a></li> -->
								<li><a href="#" class="m-ico2" data-toggle="modal" data-target="#latestSermonModal"></a></li>
								<!-- <li><a href="#" class="m-ico3"></a></li> -->
							</ul>
							<div class="line"></div>
							<a href="/worship/sermons/" class="hb-more">previous sermons</a>
						</div>
					</div>
				{% endfor %}
				</div>
			</div>
		</div>
		<!-- Sermons Wrap -->

		<!-- Events Wrap -->
		<div class="col-md-8 events-wrap">
			<ul>
				<li>
					<div class="row">
						<div class="col-md-12">
							<div class="date">25<span>Aug</span></div>
							<h4>Student Ministries <span>High School Ministry</span></h4>
							<div class="time">12:30 pm - Bethlehem Church</div>
						</div>
					</div>
				</li>
				<li>
					<div class="row">
						<div class="col-md-12">
							<div class="date">25<span>Aug</span></div>
							<h4>Church <span>Children's Building Open House</span></h4>
							<div class="time">12:30 pm - Bethlehem Church</div>
						</div>
					</div>
				</li>
				<li>
					<div class="row">
						<div class="col-md-12">
							<div class="date">25<span>Aug</span></div>
							<h4>Student Ministries <span>High School Ministry</span></h4>
							<div class="time">12:30 pm - Bethlehem Church</div>
						</div>
					</div>
				</li>
			</ul>
			<div class="line"></div>
			<a href="#" class="hb-more">See rest of events</a>
		</div>
		<!-- Events Wrap -->
	</div>
</div>

<!-- LCMS Wrap -->
<div class="lcms-wrap">
	<div class="container">
		<div class="col-md-16 text-center">
			<p><em>Member Of:</em> <a href="http://www.lcms.org/" target="_blank">The Lutheran Church Missouri Synod (LCMS)</a></p>
		</div>
	</div>
</div>
{% for sermon in site.posts limit:1 %}
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="latestSermonModal" id="latestSermonModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">{{sermon.title}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-18">

          	<iframe src="https://player.vimeo.com/video/{{ sermon.video }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="width: 100%; max-width:578px;min-height: 325px;"></iframe>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endfor %}