---
layout: default
---

	<div class="white-bg">
		<div class="main-wrap">
			<div class="container">
				<!-- Ministries content -->
				<div class="col-md-16">
					<div class="ministries-head">
						<h5>Ministries <small>Listed Alphabetically</small></h5>
					</div>
					{% assign ministries = site.ministries | sort: 'title' %}
					{% for ministry in ministries %}

						<div class="ministries-list">
							<div class="row">
								<!-- <div class="col-md-4"><img src="{{ '/images/ministries/' | prepend: site.baseurl | append: ministry.name }}.jpg" class="img-responsive" alt=""/></div> -->
								<div class="col-md-16">
									<!-- <h4><a href="{{ '/ministries/' | append: ministry.name | prepend: site.baseurl }}">{{ ministry.title }}</a>{% if ministry.leads %} <small>| {{ ministry.leads }}</small>{% endif %}</h4> -->
									<h4>{{ ministry.title }}{% if ministry.leads %} <small>| {{ ministry.leads }}</small>{% endif %}</h4>
									<p>{{ ministry.description }}</p>
								</div>
							</div>
						</div>

					{% endfor %}
				</div>
				<!-- Ministries content -->
			</div>
		</div>

	</div>

