---
layout: default
title: Sermons
---
{% assign total_pages = 5 %}
{% unless paginator.page > total_pages %}
		<!-- Main content -->
		<div class="main-wrap">
			<div class="container">
				<div class="col-md-12">
					{% for sermon in paginator.posts %}
						{% if forloop.last == true %}
				        <div class="sermon-content lasts">
				    {% else %}
				        <div class="sermon-content">
				    {% endif %}
							<div class="row">
								<div class="col-md-18">
    							<h4>{{ sermon.title }}</h4>
    							<span class="post-meta">{{ sermon.speaker }} / {{ sermon.date | date: "%B %-d, %Y" }}
								</div>
							</div>
    					<div class="row">
    						<div class="col-md-18">
    							<iframe src="https://player.vimeo.com/video/{{ sermon.video }}?title=0&byline=0" style="width:100%; max-width:870px; min-height:489px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    						</div>
    					</div>
    				</div>
    			{% endfor %}


					<div class="page-meta">
						<div class="space20"></div>
						<ul class="page-nav">
							<li>Page {{ paginator.page }} of {{ paginator.total_pages }}</li>
							{% if paginator.page == 1 %}
							<li class="active">
							{% else %}
							<li>
							{% endif %}
								<a href="/worship/sermons/">1</a>
							</li>
							{% for i in (2..total_pages) %}

							{% if i == paginator.page %}
							<li class="active">
							{% else %}
							<li>
							{% endif %}
								<a href="/worship/sermons/{{ i }}/">{{ i }}</a>
							</li>
							{% endfor %}
						</ul>
						<ul class="page-nav-links">
							{% if paginator.previous_page_path %}
							<li><a href="{{ paginator.previous_page_path }}">&laquo; Previous page</a></li>
							{% endif %}
							{% if paginator.page < total_pages && paginator.next_page_path %}
							<li><a href="{{ paginator.next_page_path }}">Next page &raquo;</a></li>
							{% endif %}
						</ul>
					</div>
				</div>
				<aside class="col-md-4">
					<div class="side-widget">
					<div class="side-widget">
						<h5>Archives</h5>
						<ul class="categories">
							{% capture count %}0{% endcapture %}
							{% for post in site.posts %}
							{% capture count %}{{ count | plus: 1}}{% endcapture %}
							{% capture year %}{{ post.date | date:'%Y' }}{% endcapture %}
								{% unless post.previous %}
									<li><a href="/worship/sermons/archives/{{year}}/">{{ year }} ({{ count }})</a></li>
								{% else %}
									{% capture previousYear %}{{ post.previous.date | date:'%Y' }}{% endcapture %}
									{% if year != previousYear %}
										<li><a href="/worship/sermons/archives/{{year}}/">{{ year }} ({{ count }})</a></li>
										{% capture count %}0{% endcapture %}
									{% endif %}
								{% endunless %}
							{% endfor %}
						</ul>
					</div>
					<div class="space50"></div>
					<div class="side-widget">
						<h5>Sermon Occasions</h5>
						<ul class="categories">
							<li><a href="#">Christmas</a></li>
							<li><a href="#">Easter</a></li>
							<li><a href="#">Thanksgiving</a></li>
						</ul>
					</div>
				</aside>
			</div>
			<!-- Main content -->
		</div>
{% endunless %}