<div class="space50"></div>

<!-- Footer -->
<footer>
	<div class="footer1">
		<div class="container">
			<div class="col-md-8">
				<img src="{{ '/images/logo-alt.png' | prepend: site.baseurl }}" class="img-responsive" alt=""/>
			</div>
			<div class="col-md-8">
				<h6>Connect with us</h6>
				<ul class="hb-social">
					<li class="hb-fb"><a href="https://www.facebook.com/LSLCPS/" target="_blank"><i class="fa fa-facebook"></i></a></li>
					<li class="hb-tw"><a href="#"><i class="fa fa-twitter"></i></a></li>
					<!-- <li class="hb-plus"><a href="#"><i class="fa fa-plus"></i></a></li> -->
				</ul>
			</div>
		</div>
	</div>
	<div class="footer2">
		<div class="container">
			<div class="col-md-4 footer-widget">
				<h5>Our church</h5>
				<p>5500 Ox Road, <br>
					Fairfax Station, VA 22039, USA
				</p>
				<p>Telephone: +1 703 352 1421<br>
					Preschool: +1 703 352 4208
				</p>
			</div>
			<div class="col-md-3 footer-widget fw2">
				<h5>Worship Times</h5>
				<p>Sunday early service<br>
					 at 8:30am
				</p>
				<p>Sunday late service<br>
					at 11:00am
				</p>
			</div>
			<div class="col-md-9 footer-widget last">
				<div class="footer-quote">All scripture is given by inspiration of God, and is profitable for doctrine,
					for reproof, for correction, for instruction in righteousness:
				</div>
				<p class="copy">@ All rights reserved 2013</p>
			</div>
		</div>
	</div>
</footer>
<!-- Footer -->