<div class="space50"></div>

<!-- Footer -->
<footer>
	<div class="footer1">
		<div class="container">
			<div class="col-md-8">
				<img src="{{ '/images/logo-alt.png' | prepend: site.baseurl }}" class="img-responsive" alt=""/>
			</div>
			<div class="col-md-8">
				<h6>Connect with us</h6>
				<ul class="hb-social">
					<li class="hb-fb"><a href="https://www.facebook.com/LSLCPS/" target="_blank"><i class="fa fa-facebook"></i></a></li>
					<li class="hb-tw"><a href="https://twitter.com/LSLCPS" target="_blank"><i class="fa fa-twitter"></i></a></li>
					<!-- <li class="hb-plus"><a href="#"><i class="fa fa-plus"></i></a></li> -->
				</ul>
				<div class="clearfix"></div>
				<p class="pull-right">
					<i class="fa fa-envelope" style="color: white;"></i>&nbsp;<a href="mailto:webmaster@livingsaviorlutheran.org" style="color:white!important">Email Webmaster</a>
					<br>
					<i class="fa fa-file" style="color: white;"></i>&nbsp;<a href="/docs" style="color:white!important">Church Documents</a>
				</p>
			</div>
		</div>
	</div>
	<div class="footer2">
		<div class="container">
			<div class="col-md-3 footer-widget">
				<h5>Our church</h5>
				<p>5500 Ox Road, <br>
					Fairfax Station, VA 22039, USA
				</p>
				<p>Telephone: +1 703 352 1421<br>
					Preschool: +1 703 352 4208
				</p>
			</div>
			<div class="col-md-3 footer-widget fw2">
				<h5>Worship Times</h5>
				<p>Sunday early service<br>
					 at 8:30am
				</p>
				<p>Sunday late service<br>
					at 11:00am
				</p>
			</div>
			<div class="col-md-4 footer-widget fw2">
				<h5>Sunday School Times</h5>
				<p>K through 5th grade<br>
					 at 10:00 until 10:45am
				</p>
				<p>Confirmation, HS, and Adult<br>
					at 9:45 until 10:45am
				</p>
			</div>
			<div class="col-md-6 footer-widget last">
				<div class="footer-quote">For God so loved the world that he gave his one and only Son, that whoever believes in him shall not perish but have eternal life. (John 3:16)</div>
				<p class="copy">@ All rights reserved 2017</p>
			</div>
		</div>
	</div>
</footer>
<!-- Footer -->