<!-- Header -->
<header class="container">
	<div class="col-md-6">
		<div class="nav-left">
			<ul>
				<li class="has-sub-mega">
					<a href="{{ '/about' | prepend: site.baseurl }}" class="nowrap">About us</a>
					<div class="mega-menu">
						<div class="col-md-9 m1">
							<h4>IM NEW</h4>
							<p>Etiam lobortis libero in luctus tincidunt. Nullam a ligula iaculis, placerat purus ac, dapibus turpis. Quisque fringilla pharetra arcu, in tristique nibh vulputate a. Phasellus ullamcorper, erat et dapibus scelerisque, ipsum lacus iaculis quam.</p>
							<p>Eleifend lobortis massa ligula at turpis. Quisque fringilla pharetra arcu, in tristique nibh.</p>
							<div class="space30"></div>
							<a class="menu-btn" href="/about/">Learn more</a>
						</div>
						<div class="col-md-4 m2">
							<!--<h5>PEOPLE / VOLUNTEERS</h5>
							<a href="{{ '/about/people/' | prepend: site.baseurl }}">Church Leadership</a>
							<div class="space25"></div> -->
							<h5>About us</h5>
							<!-- <a href="/about/im-new/">Im New</a> -->
							<a href="{{ '/about/' | prepend: site.baseurl }}">About Us</a>
							<a href="{{ '/about/contact/' | prepend: site.baseurl }}">Contact and Location</a>
						</div>
						<div class="col-md-3 m3">
							<img src="{{ '/demo/8.jpg' | prepend: site.baseurl }}" class="img-responsive" alt=""/>
							<div class="space40"></div>
							<h6>Connect with us</h6>
							<div class="m-social">
								<a href="https://www.facebook.com/LSLCPS" target="_blank"><i class="fa fa-facebook"></i></a>
								<!-- <a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-plus"></i></a> -->
							</div>
						</div>
					</div>
				</li>
				<li class="has-sub-mega">
					<a href="#">Children</a>
					<div class="mega-menu mega-menu--children">
						<div class="col-md-9 m1">
							<img src="{{ '/images/photos/menu-preschool.jpg' | prepend: site.baseurl }}" class="img-responsive" alt=""/>
						</div>
						<div class="col-md-4 m2">
							<h5><a href="http://www.livingsaviorlutheran.org/preschool/index.htm" target="_blank">Preschool</a></h5>
							<p>We believe that Living Savior Preschool can expand the child's perception of God, of other people, and of the physical world in which God has placed us.</p>
							<!-- <h5>Blog Pages</h5> -->
							<!-- <a href="./blog.html">Blog Classic with Sidebar</a>
							<a href="./blog-grid.html">Blog Grid View</a>
							<a href="./blog_single.html">Blog Single Entry</a>
							<div class="space25"></div>
							<h5>Ministries</h5>
							<a href="./ministries-grid.html">Ministries Grid View</a>
							<a href="./ministries-list.html">Ministries List View</a>
							<a href="./ministries-single.html">Single Ministry</a>
							<div class="space25"></div>
							<h5><a href="./timeline.html">Timeline</a></h5> -->
						</div>
						<div class="col-md-3 m3 m2">
							<h5>Education</h5>
<!-- 							<a href="./shop-grid.html">Shop - Grid</a>
							<a href="./shop-list.html">Shop - List</a>
							<a href="./shop-single.html">Shop Single</a>
							<a href="./signin.html">Login</a>
							<a href="./billingaddress.html">Shop - Checkout</a>
							<a href="./shopping-cart.html">Shop- Cart</a>
							<div class="space25"></div> -->
							<a href="">Sunday School</a>
							<!-- <a href="">VBS</a> -->
							<!-- <a href="./stories.html">Stories View</a> -->
							<!-- <a href="./stories-single.html">Single Story</a> -->
						</div>
					</div>
				</li>
				<li class="has-sub">
					<a href="{{ '/ministries/' | prepend: site.baseurl }}">Ministries</a>
<!-- 					<div class="subpage">
						{% assign ministries = site.ministries | sort: 'sort' %}
						{% for ministry in ministries | sort: 'sort' %}
							<a href="/ministries/{{ ministry.name }}/">{{ ministry.title }}</a>
						{% endfor %}
					</div> -->
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-4">
		<div class="logo">
			<a href="{{ '/' | prepend: site.baseurl }}"><img src="{{ '/images/logo-alt.png' | prepend: site.baseurl }}" class="img-responsive" alt=""/></a>
		</div>
	</div>
	<div class="col-md-6">
		<div class="nav-right">
			<ul>
				<!-- <li><a href="/sermons/">Sermons</a></li> -->
				<li class="has-sub">
					<a href="{{ '/worship/sermons/' | prepend: site.baseurl }}">Worship</a>
					<div class="subpage">
							<a href="{{ '/worship/sermons/' | prepend: site.baseurl }}">Sermons</a>
							<a href="{{ '/worship/bible-studies/' | prepend: site.baseurl }}">Bible Studies</a>
					</div>
				</li>
				<li><a href="{{ '/events/' | prepend: site.baseurl }}">Events</a></li>
				<li><a href="{{ '/about/contact/' | prepend: site.baseurl }}">Contact</a></li>
			</ul>
		</div>
	</div>
</header>
<!-- Header -->

<div class="nav-left nav-mobile">
	<ul class="nav-mobile-ul">
		<li class="has-sub-mega">
			<a href="#">About us</a>
				<div class="mega-menu">
				<div class="col-md-9 m1">
						<h4>IM NEW</h4>
						<p>Etiam lobortis libero in luctus tincidunt. Nullam a ligula iaculis, placerat purus ac, dapibus turpis. Quisque fringilla pharetra arcu, in tristique nibh vulputate a. Phasellus ullamcorper, erat et dapibus scelerisque, ipsum lacus iaculis quam.</p>
						<p>Eleifend lobortis massa ligula at turpis. Quisque fringilla pharetra arcu, in tristique nibh.</p>
						<div class="space30"></div>
						<a class="menu-btn" href="./im_new.html">Learn more</a>
					</div>
					<div class="col-md-4 m2">
						<!--<h5>PEOPLE / VOLUNTEERS</h5>
						<a href="./people.html">People and Volunteers</a>
						<a href="./people_single.html">People - Single</a>
						<div class="space25"></div> -->
						<h5>About us</h5>
						<a href="./im_new.html">Im New</a>
						<a href="./stories-single.html">About Us - Full Width</a>
						<a href="./contact.html">Contact and Locations</a>
						<div class="space25"></div>
						<h5><a href="./timeline.html">Timeline</a></h5>
					</div>
					<div class="col-md-3 m3">
						</div>
				</div>
			</li>
			<li class="has-sub-mega">
				<a href="#">Pages</a>
				<div class="mega-menu mega-menu1">
					<div class="col-md-9 m1">
						<img src="{{ '/demo/9.jpg' | prepend: site.baseurl }}" class="img-responsive" alt=""/>
					</div>
					<div class="col-md-4 m2">
						<h5>Blog Pages</h5>
						<a href="./blog.html">Blog Classic with Sidebar</a>
						<a href="./blog-grid.html">Blog Grid View</a>
						<a href="./blog_single.html">Blog Single Entry</a>
						<div class="space25"></div>
						<h5>Ministries</h5>
						<a href="./ministries-grid.html">Ministries Grid View</a>
						<a href="./ministries-list.html">Ministries List View</a>
						<a href="./ministries-single.html">Single Ministry</a>
						<div class="space25"></div>
						<h5><a href="./timeline.html">Timeline</a></h5>
					</div>
					<div class="col-md-3 m3 m2">
						<h5>Shop</h5>
						<a href="./shop-grid.html">Shop - Grid</a>
						<a href="./shop-list.html">Shop - List</a>
						<a href="./shop-single.html">Shop Single</a>
						<a href="./signin.html">Login</a>
						<a href="./billingaddress.html">Shop - Checkout</a>
						<a href="./shopping-cart.html">Shop- Cart</a>
						<div class="space25"></div>
						<h5><a href="./timeline.html">Timeline</a></h5>
						<a href="./stories.html">Stories View</a>
						<a href="./stories-single.html">Single Story</a>
					</div>
				</div>
			</li>
			<li>
				<a href="{{ '/sermons/' | prepend: site.baseurl }}">Sermons</a>
			</li>
				<li class="has-sub">
				<a href="#">Events</a>
				<div class="subpage">
					<a href="./events.html">Events List Page</a>
					<a href="./events-calendar.html">Events Calendar</a>
					<a href="./events-single.html">Event Single</a>
				</div>
			</li>
			<li class="has-sub">
				<a href="#">Donations</a>
				<div class="subpage">
					<a href="./donatecause.html">Donate Cause</a>
					<a href="./donate_single.html">Donate Single</a>
				</div>
			</li>
			<li><a href="./contact.html">Contact</a></li>
		</ul>
	</div>