<!-- Header -->
<header class="container">
	<div class="col-md-6">
		<div class="nav-left">
			<ul>
				<li class="has-sub-mega">
					<a href="{{ '/about' | prepend: site.baseurl }}" class="nowrap">About us</a>
					<div class="mega-menu">
						<div class="col-md-9 m1">
							<h4>I'M NEW</h4>
							<p>Living Savior's Mission is to know the love of Christ and serve God so that the Holy Spirit may work through us to bring others to Christ.</p>
							<div class="space30"></div>
							<a class="menu-btn" href="{{ '/about/' | prepend: site.baseurl }}">Learn more</a>
						</div>
						<div class="col-md-4 m2">
							<h5>About us</h5>
							<a href="{{ '/about/' | prepend: site.baseurl }}">About Us</a>
							<a href="{{ '/about/people' | prepend: site.baseurl }}">Leaderhip</a>
							<a href="{{ '/about/contact/' | prepend: site.baseurl }}">Contact and Location</a>
						</div>
						<div class="col-md-3 m3">
							<h6>Connect with us</h6>
							<div class="m-social m-social--facebook">
								<a href="https://www.facebook.com/LSLCPS" target="_blank"><i class="fa fa-facebook"></i></a>
								<a href="https://twitter.com/LSLCPS" target="_blank"><i class="fa fa-twitter"></i></a>
							</div>
						</div>
					</div>
				</li>
				<li class="has-sub-mega">
					<a href="https://www.livingsaviorpreschoolfairfaxstation.org/" target="_blank">Preschool</a>
					<div class="mega-menu mega-menu--children">
						<div class="col-md-9 m1">
							<img src="{{ '/images/photos/menu-preschool.jpg' | prepend: site.baseurl }}" class="img-responsive" alt=""/>
						</div>
						<div class="col-md-7 m1">
							<h5><a href="https://www.livingsaviorpreschoolfairfaxstation.org/" target="_blank">Preschool</a></h5>
							<p>We believe that Living Savior Preschool can expand the child's perception of God, of other people, and of the physical world in which God has placed us.</p>
							<p class="text-center"><a href="https://www.livingsaviorpreschoolfairfaxstation.org/" target="_blank" style="font-size: 18px!important">Visit Preschool Website</a></p>
						</div>
					</div>
				</li>
				<li class="has-sub">
					<a href="{{ '/ministries/' | prepend: site.baseurl }}">Ministries</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-4">
		<div class="logo">
			<a href="{{ '/' | prepend: site.baseurl }}"><img src="{{ '/images/logo-alt.png' | prepend: site.baseurl }}" class="img-responsive" alt=""/></a>
		</div>
	</div>
	<div class="col-md-6">
		<div class="nav-right">
			<ul>
				<li class="has-sub">
					<a href="{{ '/education/bible-studies/' | prepend: site.baseurl }}">Education</a>
					<div class="subpage">
							<a href="{{ '/education/sermons/' | prepend: site.baseurl }}">Sermons</a>
							<a href="{{ '/education/bible-studies/' | prepend: site.baseurl }}">Bible Studies</a>
							<a href="{{ '/education/sunday-school/' | prepend: site.baseurl }}">Sunday School</a>
					</div>
				</li>
				<li><a href="{{ '/events/' | prepend: site.baseurl }}">Calendar</a></li>
				<li><a href="{{ '/about/contact/' | prepend: site.baseurl }}">Contact</a></li>
			</ul>
		</div>
	</div>
</header>
<!-- Header -->