<!-- Header -->
<header class="container">
	<div class="col-md-6">
		<div class="nav-left">
			<ul>
				<li class="has-sub">
					<a href="{{ '/about' | prepend: site.baseurl }}" class="nowrap">About us</a>
					<div class="subpage">
						<a href="{{ '/ministries/' | prepend: site.baseurl }}">Ministries</a>
						<a href="{{ '/about/people' | prepend: site.baseurl }}">Leaderhip</a>
						<a href="{{ 'https://www.eservicepayments.com/cgi-bin/Vanco_ver3.vps?appver3=wWsk24ZWJSTZKsGd1RMKlg0BDvsSG3VIWQCPJNNxD8upkiY7JlDavDsozUE7KG0nFx2NSo8LdUKGuGuF396vbZdLM92ycpPBxMcwOnoGn_0iYnTg5dP4O6rpX5QvPEWlBhHDN59kLZFffwKfYERpQmmLLzAAVYnaJtbQCSv5y6k=&ver=3' }}" target="_blank">Give Online</a>
						<a href="{{ '/about/contact/' | prepend: site.baseurl }}">Contact and Location</a>
					</div>
				</li>
				<li class="has-sub-mega">
					<a href="https://www.livingsaviorpreschoolfairfaxstation.org/" target="_blank">Preschool</a>
					<div class="mega-menu mega-menu--children">
						<div class="col-md-9 m1">
							<img src="{{ '/images/photos/menu-preschool.jpg' | prepend: site.baseurl }}" class="img-responsive" alt=""/>
						</div>
						<div class="col-md-7 m1">
							<h5><a href="https://www.livingsaviorpreschoolfairfaxstation.org/" target="_blank">Preschool</a></h5>
							<p class="wrap">We believe that Living Savior Preschool can expand the child's perception of God, of other people, and of the physical world in which God has placed us.</p>
							<p class="text-center"><a href="https://www.livingsaviorpreschoolfairfaxstation.org/" target="_blank" style="font-size: 18px!important">Visit Preschool Website</a></p>
						</div>
					</div>
				</li>
				<li class="has-sub">
					<a href="https://livingsaviorlutheran.online.church/">Online Worship</a>
					<div class="subpage">
						<a href="https://livingsaviorlutheran.online.church/">Upcoming Service</a>
						<a href="https://boxcast.tv/channel/yb084uq1ur5eid2jonin">Past Services</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-4">
		<div class="logo">
			<a href="{{ '/' | prepend: site.baseurl }}"><img src="{{ '/images/logo-alt.png' | prepend: site.baseurl }}" class="img-responsive" alt=""/></a>
		</div>
	</div>
	<div class="col-md-6">
		<div class="nav-right">
			<ul>
				<li class="has-sub">
					<a href="{{ '/bible-studies/' | prepend: site.baseurl }}">Bible Studies</a>
					<div class="subpage">
							<a href="{{ '/education/sunday-school/' | prepend: site.baseurl }}">Sunday School</a>
					</div>
				</li>
				<li><a href="{{ '/events/' | prepend: site.baseurl }}">Calendar</a></li>
				<li><a href="{{ '/about/contact/' | prepend: site.baseurl }}">Contact</a></li>
<!-- 				<li class="has-sub">
					<a href="{{ '/about/contact/' | prepend: site.baseurl }}">Contact</a>
					<div class="subpage">
						<a href="{{ '/about/contact/' | prepend: site.baseurl }}">Contact Form</a>
						<a href="{{ 'https://www.eservicepayments.com/cgi-bin/Vanco_ver3.vps?appver3=wWsk24ZWJSTZKsGd1RMKlg0BDvsSG3VIWQCPJNNxD8upkiY7JlDavDsozUE7KG0nFx2NSo8LdUKGuGuF396vbZdLM92ycpPBxMcwOnoGn_0iYnTg5dP4O6rpX5QvPEWlBhHDN59kLZFffwKfYERpQmmLLzAAVYnaJtbQCSv5y6k=&ver=3' }}" target="_blank">Donate Online</a>
					</div>
				</li> -->
			</ul>
		</div>
	</div>
</header>
<!-- Header -->

<div class="nav-left nav-mobile">
	<ul class="nav-mobile-ul">
		<li><a href="https://livingsaviorlutheran.online.church/">Online Worship</a></li>
		<li><a href="https://boxcast.tv/channel/yb084uq1ur5eid2jonin">Past Services</a></li>
		<li><a href="{{ '/about' | prepend: site.baseurl }}" class="nowrap">About us</a></li>
		<li><a href="{{ '/about/people' | prepend: site.baseurl }}">Leaderhip</a></li>
		<li><a href="{{ '/about/contact/' | prepend: site.baseurl }}">Location</a></li>
		<li><a href="{{ '/ministries/' | prepend: site.baseurl }}">Ministries</a></li>
		<a href="{{ 'https://www.eservicepayments.com/cgi-bin/Vanco_ver3.vps?appver3=wWsk24ZWJSTZKsGd1RMKlg0BDvsSG3VIWQCPJNNxD8upkiY7JlDavDsozUE7KG0nFx2NSo8LdUKGuGuF396vbZdLM92ycpPBxMcwOnoGn_0iYnTg5dP4O6rpX5QvPEWlBhHDN59kLZFffwKfYERpQmmLLzAAVYnaJtbQCSv5y6k=&ver=3' }}" target="_blank">Give Online</a>
		<li><a href="https://www.livingsaviorpreschoolfairfaxstation.org/" target="_blank">Preschool</a></li>
		<li><a href="{{ '/bible-studies/' | prepend: site.baseurl }}">Bible Studies</a></li>
		<li><a href="{{ '/education/sunday-school/' | prepend: site.baseurl }}">Sunday School</a></li>
		<li><a href="{{ '/events/' | prepend: site.baseurl }}">Calendar</a></li>
		<li><a href="{{ '/about/contact/' | prepend: site.baseurl }}">Contact</a></li>
	</ul>
</div>