---
layout: default
---

	<div class="white-bg">
		<div class="main-wrap">
			<div class="container">
				<!-- Ministries content -->
				<div class="col-md-16">
					<div class="ministries-head">
						<h5>Ministries</h5>
					</div>
					{% assign ministries = site.ministries | sort: 'sort' %}
					{% for ministry in ministries | sort: 'sort' %}
						{% if ministry.name != page.name %}
						<div class="ministries-list">
							<div class="row">
								<div class="col-md-4"><img src="{{ '/demo/ministries/4.jpg' | prepend: site.baseurl }}" class="img-responsive" alt=""/></div>
								<div class="col-md-12">
									<h4><a href="{{ '/ministries/' | append: ministry.name | prepend: site.baseurl }}">{{ ministry.title }}</a></h4>
									<p>{{ ministry.description }}</p>
								</div>
							</div>
						</div>
						{% endif %}
					{% endfor %}
				</div>
				<!-- Ministries content -->
			</div>
		</div>

	</div>

