<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->

  {% include head.html %}

	<body id="slide-full">

    {% include header.html %}

    <div class="body">
    		<div class="slider-wrap">

    			<!-- Slider -->
    			<div class="slider-wrapper theme-default">
    				<div id="owl-homeslider" class="owl-carousel">
    		<!-- 				<div class="item">
    						<img alt="" class="img-responsive" src="images/slide/1.jpg">
    						<div class="nivo-caption">
    							<h2>Changing <br>School Culture</h2>
    							<p>With Pastor Andy</p>
    						</div>
    					</div> -->
    					<div class="item">
    						<img alt="" class="img-responsive" src="{{ '/images/slide/3.jpg' | prepend: site.baseurl }}">
    						<div class="nivo-caption">
    							<h2>Changing <br>School Culture</h2>
    							<p>With Pastor Lissy</p>
    						</div>
    					</div>
    		<!-- 				<div class="item">
    						<img alt="" class="img-responsive" src="images/slide/3.jpg">
    						<div class="nivo-caption">
    							<h2>Changing <br>School Culture</h2>
    							<p>With Pastor Andy</p>
    						</div>
    					</div> -->
    				</div>
    			</div>
    			<!-- Slider -->

    		</div>

        {{ content }}
    </div>

    {% include footer.html %}

  </body>

	{% include js_includes.html %}

</html>
