<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->

  {% include head.html %}

	<body id="slide-full">

    <div class="body">
    <div class="slider-wrap">
	    {% include header.html %}

	    <!-- Slider -->
			<div class="slider-wrapper theme-default">
				<div id="owl-homeslider" class="owl-carousel">
					<div class="item">
						<img alt="" class="img-responsive" src="images/slides/worship-hall.jpg">
						<div class="nivo-caption">
						</div>
					</div>
					<div class="item">
						<a href="{{ 'https://vbspro.events/p/events/c16068' }}">
							<img alt="" class="img-responsive" src="images/slides/vbs23.png">
							<div class="nivo-caption"></div>
						</a>
					</div>
					<div class="item">
						<a href="{{ '/events/youth-group/calendar.html' | prepend: site.baseurl }}">
							<img alt="" class="img-responsive" src="images/slides/youth-group.png">
							<div class="nivo-caption"></div>
						</a>
					</div>
					<div class="item">
						<a href="{{ '/ministries/social-ministry.html' | prepend: site.baseurl }}">
							<img alt="" class="img-responsive" src="images/slides/social-ministry-slide.png">
							<div class="nivo-caption"></div>
						</a>
					</div>
				</div>
			</div>
			<!-- Slider -->
    </div>

        {{ content }}

    {% include footer.html %}
    </div>

  </body>

	{% include js_includes.html %}

</html>
