<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->

  {% include head.html %}

	<body id="slide-full">

    {% include header.html %}

    <div class="body">
    		<div class="slider-wrap">
					<div class="gradient-cover">
						<div class="container" style="height: 100%; position: relative;">
							<div class="donation-btn">
								<a href="https://www.eservicepayments.com/cgi-bin/Vanco_ver3.vps?appver3=wWsk24ZWJSTZKsGd1RMKlg0BDvsSG3VIWQCPJNNxD8upkiY7JlDavDsozUE7KG0nFx2NSo8LdUKGuGuF396vbZdLM92ycpPBxMcwOnoGn_0iYnTg5dP4O6rpX5QvPEWlBhHDN59kLZFffwKfYERpQmmLLzAAVYnaJtbQCSv5y6k=&ver=3" target="_blank">Donate now</a>
							</div>
						</div>
					</div>
    			<!-- Slider -->
    			<div class="slider-wrapper theme-default">
    				<div id="owl-homeslider" class="owl-carousel">
    					<div class="item">
    						<!-- <img alt="" class="img-responsive" src="{{ '/images/hero.png' | prepend: site.baseurl }}"> -->
    						<div class="nivo-caption container">
    							<!-- <h2>Changing <br>School Culture</h2> -->
    							<!-- <p>The wise prevail through great power, and those who have knowledge muster their strength. <em>Proverbs 24:5 </em></p> -->
    						</div>
    					</div>
    				</div>
    			</div>
    			<!-- Slider -->
    		</div>

        {{ content }}
    </div>

    {% include footer.html %}

  </body>

	{% include js_includes.html %}

</html>
