---
layout: default
---
		<div class="main-wrap">
			<div class="container">

				<!-- Ministries Content -->
				<div class="col-md-12">
					<div class="ministries-single">
						<img src="{{ '/demo/ministries/big.jpg' | prepend: site.baseurl }}" class="img-responsive" alt=""/>
						<h4>{{ page.title }}</h4>
						{{ page.content }}
						<div class="space90"></div>
						<div class="ministry-location">
							<h3>Location:</h3>
							<div class="col-md-8">
								<h5>Living Savior Lutheran Church</h5>
								<br>
								<p>5500 Ox Rd <br>
									Fairfax Station, VA 22039
								</p>
							</div>
						</div>
						<div class="ministry-timings">
							<h3>Meeting Times:</h3>
							<div class="space30"></div>
							<h5>Sunday Morning Services</h5>
							<p>9:30am</p>
							<div class="space20"></div>
							<h5>Wednesday Night Services</h5>
							<p>7:00pm - 8:30pm</p>
						</div>
					</div>
				</div>
				<aside class="col-md-4">
					<div class="side-widget">
						<h5>Upcoming Events</h5>
						<ul class="events-list">
							<li>
								<div class="date-meta">25<span>Jan</span></div>
								<h4><a href="#">High School Ministry</a></h4>
								<p>12:30 pm - Bethlehem Church</p>
							</li>
							<li>
								<div class="date-meta">27<span>Jan</span></div>
								<h4><a href="#">Children Builds a House</a></h4>
								<p>12:30 pm - Bethlehem Church</p>
							</li>
							<li>
								<div class="date-meta">29<span>Jan</span></div>
								<h4><a href="#">New hat for John</a></h4>
								<p>12:30 pm - Bethlehem Church</p>
							</li>
							<li>
								<div class="date-meta">2<span>Feb</span></div>
								<h4><a href="#">High School Ministry</a></h4>
								<p>12:30 pm - Bethlehem Church</p>
							</li>
							<li>
								<div class="date-meta">9<span>Feb</span></div>
								<h4><a href="#">Chlildren Meeting Parents</a></h4>
								<p>12:30 pm - Bethlehem Church</p>
							</li>
							<li>
								<div class="date-meta">15<span>Feb</span></div>
								<h4><a href="#">High School Ministry</a></h4>
								<p>12:30 pm - Bethlehem Church</p>
							</li>
							<li>
								<div class="date-meta">21<span>Feb</span></div>
								<h4><a href="#">High School Ministry</a></h4>
								<p>12:30 pm - Bethlehem Church</p>
							</li>
						</ul>
					</div>
					<div class="space40"></div>
					<div class="side-widget">
						<h5>Other Ministries</h5>
						<ul class="categories">
							{% assign ministries = site.ministries | sort: 'sort' %}
							{% for ministry in ministries | sort: 'sort' %}
								{% if ministry.name != page.name %}
								<li><a href="{{ '/ministries/' | append: ministry.name | prepend: site.baseurl }}">{{ ministry.title }}</a></li>
								{% endif %}
							{% endfor %}
						</ul>
					</div>
				</aside>
				<!-- Ministries Content -->
			</div>
		</div>