---
layout: html
---
	<body id="pages">
    <div class="body">
  		<div class="slider-wrap">
				<div class="gradient-cover"></div>
    		{% include header.html %}

  			<!-- Slider -->
  			<div class="slider-wrapper theme-default">
  				<div id="owl-homeslider" class="owl-carousel">
  					<div class="item">
  						<img alt="" class="img-responsive" src="{{ '/images/hero.png' | prepend: site.baseurl }}" style="width: 100%;">
  					</div>
  				</div>
  			</div>
  			<!-- Slider -->
  		</div>
  		<div class="white-bg">
        <div class="main-wrap">
					<div class="container">
						<!-- Blog Content -->
						<div class="col-md-16">
							<article>
								<div class="row">
									<div class="col-md-11">
										<span class="post-meta">{{ page.date | date: "%b %-d, %Y" }}
										<h4>{{ page.title }}</h4>
									</div>
<!-- 									<div class="col-md-5">
										<div class="space20"></div>
										<ul class="hb-social">
											<li class="hb-fb"><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li class="hb-fb"><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li class="hb-tw"><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li class="hb-plus"><a href="#"><i class="fa fa-plus"></i></a></li>
										</ul>
									</div> -->
								</div>
								<div class="space20"></div>
								<div class="excerpt">
									{{ content }}
								</div>
							</article>
						</div>
						<!-- Blog Content -->
					</div>
				</div>

    		{% include footer.html %}
      </div>
    </div>
  </body>