---
layout: default
title: Events
---
<!-- Main content -->
		<div class="main-wrap">
			<div class="container">
				<!-- Events content -->
				<div class="col-md-12">


					<div class="events-wrap events-wrap-big">
						<ul id="events-container">

						</ul>
					</div>
<!-- 					<div class="page-meta">
						<div class="space25"></div>
						<ul class="page-nav">
							<li>Page {{ page.pageNum }} of {{ totalPages }}</li>
							<li class="{% if page.pageNum == 1 %}active{% endif %}"><a href="/events/">1</a></li>
							{% for i in (2..totalPages) %}
								{% if i == page.pageNum %}
									<li class="active"><a href="/events/{{ i }}/">{{ i }}</a></li>
								{% else %}
									<li><a href="/events/{{ i }}/">{{ i }}</a></li>
								{% endif %}
							{% endfor %}
						</ul>
						<ul class="page-nav-links">
							{% if page.pageNum > 2 %}
								<li><a href="/events/{{ page.pageNum | minus:1 }}/">&laquo; Previous page</a></li>
							{% else %}
								{% if page.pageNum == 2 %}
								<li><a href="/events/">&laquo; Previous page</a></li>
								{% endif %}
							{% endif %}

							{% if page.pageNum < totalPages %}
								<li><a href="/events/{{ page.pageNum | plus:1 }}/">Next page &raquo;</a></li>
							{% endif %}
						</ul>
					</div> -->

				</div>
				<aside class="col-md-4">
					<div class="side-widget">
						<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=138&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=secretary%40livingsaviorlutheran.org&amp;color=%2329527A&amp;ctz=America%2FNew_York" style="border-width:0" width="184" height="138" frameborder="0" scrolling="no"></iframe>
					</div>
					<div class="side-widget">
						<a href="https://calendar.google.com/calendar/embed?src=secretary%40livingsaviorlutheran.org" target="_blank">View in Google Calendar</a>
					</div>
				</aside>
				<!-- Events content -->
			</div>
			<!-- Main content -->
		</div>
		<script src="{{ '/js/calendar.js' | prepend: site.baseurl }}"></script>
		<script>
			$(document).ready(function () {
				$eventsContainer = $('#events-container');
				calendarRepo.get(10, function (events) {
					$eventsContainer = $('#events-container');
					console.log("events", events);
					var eventItems = [];
					$.each(events, function (i, event) {
						console.log(event.recurringEventId + " : " + event.title);

						var eventLi = '<li><div class="row"><div class="col-md-16">';
						eventLi += '<div class="date">' + event.date.day + '<span>' + event.date.month + '</span></div>';
						eventLi += '<h4>' + event.category + '' + '<span>' + event.title + '</span></h4>';
						eventLi += '<div class="time">' + event.date.time;
						if(event.location){
							eventLi += ' - ' + event.location;
						}
						eventLi += '</div>';
						eventLi += '</div></div></li>';

						eventItems.push(eventLi);
					});
					//debugger;

					$eventsContainer.html(eventItems);
				});
			});
		</script>